body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 100px;
  width: 400px;
  height: 450px;
  background-color: gray;
  border-radius: 10px;
}

.calculator-screen {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.screen-text {
  font-size: 24px;
  margin-right: 10px;
}

.clear-btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.clear,
.delete {
  padding: 10px 28px;
  border-radius: 6px;
  border: none;
  background-color: red;
}
.clear:hover,
.delete:hover {
  opacity: 0.7;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.btn {
  padding: 10px 28px;
  border-radius: 6px;
  border: none;
}
